<h1><%=@user.username%></h1>
<div class="user_info">
  <h3>User Info:</h3>
  <ul>
    <li>Email: <%=@user.email%></li>
  </ul>
</div>
<div class="users_books">
  <h3>User's Books:</h3>
  <ul>
    <%@user.books.each do |book|%>
    <li><a href="/books/<%=book.id%>"><%= book.title%></a></li>
    <%end%>
  </ul>
</div>
<form action="/books/new">
  <input type="submit" value="Add a Book">
</form>
