<h1>Sign Up</h1>
<form action="/signup" method="post">
  <input type="text" name="user[email]" value="Email">
  <br></br>
  <input type="text" name="user[username]" value="Username">
  <br></br>
  <input type="text" name="user[password]" value="Password">
  <br></br>
  <input type="submit" value="Sign Up">
</form>
