<h1>Add a Book</h1>
<p>Give us some information about the book you want to sell.</p>
<form action="/books" method="post">
  <label>Title:</label>
  <input type="text" name="book[title]">
  <br></br>
  <label>Author:</label>
  <input type="text" name="book[author]">
  <br></br>
  <label>Description:</label>
  <input type="text" name="book[description]">
  <br></br>
  <label>Price:</label>
  <input type="text" name="book[price]">
  <br></br>
  <label>Availability:</label>
  <input type="text" name="book[availability]">
  <br></br>
  <input type="submit" value="Add Book">
</form>
