<h1>Add a Book</h1>
<p>Give us some information about the book you want to sell.</p>
<form action="/books" method="post">
  <label>Title:</label>
  <input type="text" name="title">
  <br></br>
  <label>Author:</label>
  <input type="text" name="author">
  <br></br>
  <label>Description:</label>
  <input type="text" name="description">
  <br></br>
  <label>Price:</label>
  <input type="text" name="price">
  <br></br>
  <label>Availability:</label>
  <input type="text" name="availability">
  <br></br>
  <input type="submit" value="Add Book">
</form>
