<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookseller</title>
  </head>
  <body>
    <%if logged_in?%>
    <div><a href="/books">Home</a> - <a href="/users/<%=current_user.slug%>"><%=current_user.slug%></a> - <a href="/logout">Log Out</a></div>
    <%else%>
    <div><a href="/login">Log In</a> - <a href="/">Home</a> - <a href="/signup">Sign Up</a></div>
    <%end%>

    <%= yield %>

  </body>
</html>
